@import './fonts.css';
@import './colors.css';
@import './shortcuts.css';
@import './gradients.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  letter-spacing: 0.75px;
  --header-height: 92px;
}

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #00040f;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
}
